<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>PickPost · 前后端开发协作平台</title>
  <link rel="shortcut icon" href="https://gw.alipayobjects.com/zos/rmsportal/kZHarnsJBhpVDpPTxRnG.png" type="image/x-icon">
  {{ helper.assets.getStyle() | safe }}
</head>

<body>
  <div id="root"></div>
  {{ helper.assets.getContext() | safe }}
  {{ helper.assets.getScript() | safe }}
</body>

</html>