{
  "extends": "eslint-config-egg",
  "parser": "babel-eslint",
  "rules": {
    "generator-star-spacing": "off",
    "babel/generator-star-spacing": "off",
    "no-eval": "off",
    "arrow-parens": "off"
  }
}
