.file-tree {
  color: #1F8FC5;
  position: relative;
  margin: 0;

  &:last-child dt {
    border-bottom: 1px solid #f2f4f5;
  }

  dt {
    display: flex;
    height: 52px;
    cursor: pointer;
    padding: 0 10px;
    border-top: 1px solid #f2f4f5;
    .anticon {
      color: #1F8FC5;
      margin-top: 12px;
    }
    .detail {
      width: 1PX; // 防止被撑开
      flex: auto;
      padding-left: 10px;
      h5 {
        margin-top: 9px;
        color: #1F8FC5;
        white-space: nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        overflow: hidden;
      }
      p {
        color: #C4CDE1;
        font-size: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0;
      }
    }

    .more-action {
      position: absolute;
      right: 15px;
      display: none;
      .anticon {
        margin-left: 8px;
      }
    }

    &:hover {
      background: rgba(74, 144, 226, 0.2);

      .more-action {
        color: #1F8FC5;
        display: block;
      }
    }
  }

  dd {
    margin: 0;
    padding: 0;
  }
}
