.api-list-page {

  table {
    table-layout:fixed;

    td {
      white-space:nowrap;
      word-break:keep-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.ellipsis {
  white-space:nowrap;
  word-break:keep-all;
  overflow: hidden;
  text-overflow: ellipsis;
}